@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --black1: #222831;
    --azulp: #0075f6;
    --black2: #393e46;
    --fuente: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: var(--fuente);
    background-color: #3f3f44;
}

.container-all{
    position: relative;
    box-shadow: 2px 2px 2px 1px #222831;
    background-color: #ffff;
    width: 65%;
    padding: 20px 0 50px 0;
}
.container-all>h1{
    color: var(--black1);
    text-align: center;
    font-size: 2.5rem;
}
    .perfil{
        position: absolute;
        width: 100px;
        right: 100px;
        border: 4px solid var(--azulp);
        border-radius: 100%;
        overflow: hidden;
    }
    .perfil>img{
        width: 100px;
        margin-bottom: -5px;
    }
.topic-status{
    color: #fff;
    background-color: var(--azulp);
    padding: 3px 15px;
    width: 300px;
    margin: 0;
    border-top-right-radius: 25px;
    text-align: center;
}
.principal div{
    display: grid;
    width: 70%;
    padding: 5px 0;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
}
.principal div p{
    text-align: center;
    margin: auto;
}
.principal div p>span{
    display: block;
    font-weight: bold;
}

.general{
    padding: 20px 60px;
}
.general p{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.general p>span{
    width: 350px;
    font-weight: bold;
}

.ref-personales .list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 60px;
    text-align: center;
}
.list>div:first-child{
    font-weight: bold;
    text-align: left;
}